@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
body
{
  text-align: center;
  padding: 10px;
  font-family: "Arial","Helvetica","sans-serif";
  background-image: url(../pictures/Mural.jpg), url(../pictures/FromSpace.jpg);
  background-repeat: no-repeat, repeat;
  background-position:center top;
  background-color: #ffccff;
  line-height: 2.8;
}
div
{
    background-color: blue;
    background: rgba(230, 230, 230, 0.9);
    width:78%;
    margin: auto;
    line-height:1.6;
}
input
{
    width:98%;
}
#moreLogoeyText
{
    font-family: 'Syne Mono', monospace;
    color:#0052cc;
    font-size: large;
}
h1
{
    font-size: large;
}
@media screen and (max-width: 992px)
{
  body
  {
    background-color: #ffcccc;
    text-align: center;
  }
  form
  {
    text-align:center;
    line-height:2.4;
  }
  input
  {
    width:95%;
  }
}
@media screen and (max-width: 600px)
{
  body
  {
    background-color:#ff9966;
    text-align: center;
    background-size: cover;
    background-repeat: repeat-y;
  }
  form
  {
    text-align:center;
    line-height:2.6;
  }
  input
  {
    width:95%;
  }
}