body
{
  text-align: center;
  padding: 10px;
  font-family: "Arial","Helvetica","sans-serif";
  text-align: center;
  background-image: url(../pictures/Mural.jpg), url(../pictures/FromSpace.jpg);
  background-repeat: no-repeat, repeat;
  background-position:center top;
  background-color: #ffccff;
}

div
{
    background-color: blue;
    background: rgba(230, 230, 230, 0.9);
    align: center;
    width:78%;
    margin: auto;
}


#moreLogoeyText
{
    font-family: "Lucida Console", Courier, monospace;
    color:rgb(0, 230, 230);
    font-size: large;
}

h1
{
    font-size: large;
}
@media screen and (max-width: 992px)
{
  body
  {
    background-color: #ffcccc;
    text-align: center;
  }
}

@media screen and (max-width: 600px)
{
  body
  {
    background-color:#ff9966;
    text-align: center;
    background-size: cover;
    background-repeat: repeat-y;
  }
}