body
{
  text-align: center;
  padding: 10px;
  font-family: "Arial","Helvetica","sans-serif";
  text-align: center;
  background-image: url(pictures/FromSpace.jpg);
  background-color: #ffccff;
}

#moreLogoeyText
{
    font-family: "Arial","Helvetica","sans-serif";
    color:green;
}

.plainText
{
    color:blue;
}

@media screen and (max-width: 992px)
{
  body
  {
    background-color: #ffcccc;
    text-align: center;
  }
}

@media screen and (max-width: 600px)
{
  body
  {
    background-color:#ff9966;
    text-align: center;
  }
}